* {padding: 0;margin: 0;box-sizing: border-box;}
ol, ul, li {list-style: none;}

.hidden {position: absolute !important;overflow: hidden !important;width: 1px !important;height: 1px !important;margin: 0 !important;padding: 0 !important;clip: rect(0, 0, 0, 0);color: transparent;border: 0 !important;}


.sticker {position:absolute;}
.sticker.active:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; border:dashed 2px #000; box-sizing:border-box; opacity:0.5;}
.sticker img {display:block; width:100%;}
.sticker .text {min-width:100px; min-height:25px; padding:0 5px; text-align:center; white-space:nowrap;}
.sticker.active .text {background-color:rgba(0, 0, 0, 0.7); color:#fff;}

/* design background */
.wrapper_inner {width: 100%;max-width: 1284px;margin: 0 auto;}
.bg_design_wrap {margin-top: 100px;}
.bg_design_tit {margin-bottom: 100px;text-align: center;}
.bg_designer {display: flex;justify-content: center;}
.design_bar {display: none;}
.view_bg {position: relative;width: 390px;height: 700px;background-color: rgba(0,0,0,.1);}
.view_bg .design_inner {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-position: center;background-size: cover;background-repeat: no-repeat;}
.view_bg .design_inner img {width: 100%;height: 100%;}

/* background image */
.bg_info {width: 630px;margin-left: 100px;}
.bg_img_inner {display: flex;align-items: center;}
.bg_img_inner input[type=radio] {display: none;}
.bg_img .img_list {display: flex;flex-wrap: wrap;width: 300px;}
.bg_img li {margin-top: 10px;margin-right: 10px;}
.bg_img li img {display: block;width: 50px;cursor: pointer;} 
.bg_img_upload {margin-left: 30px;}
.bg_img_upload label {display: inline-block;padding: 10px 10px;font-size: 12px;color: #fff;background-color: #000;border: 1px solid #000;cursor: pointer;}
.bg_img_upload input[type="file"] {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip:rect(0,0,0,0);border: 0;}

/* icon */
.sticker_icons {margin-top: 20px;}
.btn_close a {display: none;}
.selected {border: 2px solid #000;}
.icon_list {display: flex;flex-wrap: wrap;}
.icon_list li {margin-top: 10px;}
.icon_list li button {margin-right: 5px;}
.icon_list li img {width: 50px;height: 50px;vertical-align: middle;}

/* text_size */
.sticker_txt {margin-top: 20px;}
.sticker_txt .sticker_txt_inner strong {font-size: 12px;}
.sticker_txt .txt_area {display: flex;align-items: center;}
.sticker_txt .txt_area textarea {margin-left: 14px;}
.sticker_txt input[type=radio] {display: none;}
.sticker_txt .txt_size input[type=radio] + label {display: inline-block;width: 50px;height: 24px;border: 1px solid #000;border-radius: 3px;text-align: center;font-weight: bold;cursor: pointer;}
.sticker_txt .txt_size input[type=radio]:checked + label {background-color: #333;color: #fff;}
.sticker_txt .txt_size {display: flex;align-items: center;margin-top: 10px;}
.sticker_txt .txt_size ul {display: flex; margin-left: 30px;}
.sticker_txt .txt_size ul li {margin-right: 5px;}
/* text_color */
.sticker_txt .txt_color {display: flex;align-items: center;margin-top: 10px;}
.sticker_txt .txt_color input[type=radio] + label {display: block;width: 30px;height: 30px;border: 1px solid rgba(0,0,0,.2);cursor: pointer;}
.sticker_txt .txt_color input[type=radio]:checked + label {border: 1px solid #000;}
.sticker_txt .txt_color ul {display: flex;margin-left: 30px;}
.sticker_txt .txt_color ul li {margin-right: 3px;}
.sticker_txt .txt_color .radio_box01 {background-color: #ffffff;}
.sticker_txt .txt_color .radio_box02 {background-color: #000000;}
.sticker_txt .txt_color .radio_box03 {background-color: #808080;}
.sticker_txt .txt_color .radio_box04 {background-color: #c0c0c0;}
.sticker_txt .txt_color .radio_box05 {background-color: #ff0000;}
.sticker_txt .txt_color .radio_box06 {background-color: #800000;}
.sticker_txt .txt_color .radio_box07 {background-color: #ffff00;}
.sticker_txt .txt_color .radio_box08 {background-color: #008000;}
.sticker_txt .txt_color .radio_box09 {background-color: #0000ff;}
.sticker_txt .txt_color .radio_box10 {background-color: #800080;}


/* hashtag */
.hashtag_wrap {margin-bottom: 100px;}
.hashtag_inner {display: flex;justify-content: center;align-items: center;margin-top: 100px;}
.hashtag_inner .txt_area {padding-left: 60px;}
.hashtag_inner .txt_area button {margin-left: 50px;}
.save_btn {margin-top: 50px;text-align: center;}
.save_btn button {width: 350px;padding: 10px 10px;}

.ui-resizable-se {width:24px; height:24px; right:-12px; bottom:-12px;}
.ui-icon-gripsmall-diagonal-se {background:url(/img/fit_screen_48dp.svg) no-repeat center / 100%; opacity:0.5;}
.ui-rotatable-handle {position:absolute; top:-12px; left:-12px; width:24px; height:24px; background:url(/img/loop_black_48dp.svg) no-repeat center / 100%; opacity:0.5;}
.ui-resizable-se,
.ui-rotatable-handle {display:none;}
.sticker.active .ui-resizable-se,
.sticker.active .ui-rotatable-handle {display:block;}

/* mobile */
@media screen and (max-width: 1284px) {

    /* design background */
    .bg_design_wrap {margin-top: 0;}
    .bg_design_tit {display: none;}
    .bg_designer {display: block;}
    .view_bg {width: 100%;max-width: 100%;min-height: 100vh;}

    /* mobile tool bar */
    .design_bar {display: block;}
    .design_bar ul {display: flex;justify-content: center;margin-top: 50px;padding: 0 30px;}
    .design_bar ul li {padding-right: 20px;}
    .design_bar ul li:last-child {padding-right: 0;}
    .design_bar ul img {width: 80px;max-width: 100%;height: auto;vertical-align: middle;}

    .sticker_icons, 
    .bg_img, 
    .sticker_txt {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,.5);visibility: hidden;opacity: 0;transition: all 0.25s ease-in-out;}
    .sticker_icons.on, 
    .bg_img.on, 
    .sticker_txt.on {opacity: 1;visibility: visible;margin-top: 0;}
    .wrapper.on .icon_list, 
    .wrapper.on .bg_img_inner  {top: 0;opacity: 1;}

    /* background image */


    /* icon */
    .sticker_icons {margin-top: 20px;}
    .btn_close a {display: block;text-align: right;padding: 20px 20px 0 20px;}
    .selected {border: 2px solid #000;}
    .icon_list {justify-content: space-between;padding: 20px 20px;}
    .icon_list li {margin-top: 0;}
    .icon_list li button {margin-right: 5px;}
    .icon_list li img {width: 50px;height: 50px;}	
    
    /* text */


    /* hashtag */
    .hashtag_wrap {margin-bottom: 50px;}
    .hashtag_inner {margin-top: 20px;padding: 0 30px;}
    .hashtag_inner img {display: none;}
    .hashtag_inner .txt_area {padding-left: 0;}
    .hashtag_inner .txt_area h3 {display: none;}
    .hashtag_inner .txt_area button {margin-left: 50px;}
    .save_btn {margin-top: 30px;padding: 0 50px;}
    .save_btn button {width: 350px;max-width: 100%;padding: 10px 10px;}
}